<a href="https://colab.research.google.com/github/jinhuioh/Hi_ai/blob/master/colab_test_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#내가 가지고있는 csv파일을 colab linux에 업로드
#df로 읽어보세요~~

In [ ]:
#csv파일을 google drive에 업로드
#colab + google drive mount
#df2로 읽어보세요

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [11]:
dates = pd.date_range('20190301',periods=6)
dates

DatetimeIndex(['2019-03-01', '2019-03-02', '2019-03-03', '2019-03-04',
               '2019-03-05', '2019-03-06'],
              dtype='datetime64[ns]', freq='D')

In [12]:
np.random.randn(6,4)

array([[-1.90574994e-01, -9.86835350e-01, -1.20615671e-03,
        -3.62156316e-01],
       [-6.88196046e-01,  8.73180759e-01, -6.35900944e-01,
        -2.68020234e-02],
       [ 1.02911505e+00,  7.19750830e-01,  2.86981425e-01,
         4.70969967e-01],
       [-4.88447464e-01, -8.13116217e-01, -1.84117166e+00,
        -1.07838400e+00],
       [ 2.07349088e-01, -1.43686867e+00, -1.27441916e+00,
         1.11000880e+00],
       [ 2.38103484e-01, -1.65817839e+00,  2.27107107e+00,
        -4.54574905e-01]])

In [14]:
#df = pd.DataFrame(ndarray(values), columns=['컬럼명1','컬럼명2',...])
df = pd.DataFrame(np.random.randn(6,4),columns=['A','B','C','D'])#randn2차원만들어줌
df

          A         B         C         D
0 -1.064336  0.613063 -0.152415 -1.835100
1 -0.363756 -0.056142  0.387780  0.280981
2 -1.139927  0.090261 -1.188940 -1.493791
3  1.444355  0.815995 -0.619009  1.718770
4  1.009962 -0.270454 -0.129129  0.293416
5  0.310279  0.983329  0.545531 -1.408430

In [15]:
df2 = pd.DataFrame(data=np.random.randn(6,4),index= dates,columns=['A','B','C','D'])#dates기준으로 인덱스 정렬
df2

                   A         B         C         D
2019-03-01 -0.877741 -0.235803 -0.789929 -0.135468
2019-03-02 -0.362904  1.120730 -2.557892 -0.675046
2019-03-03  0.352008 -0.446380  1.453760  0.909496
2019-03-04 -1.310702 -0.458727 -0.459510  0.103018
2019-03-05  0.766126  0.541235 -0.306032 -0.961305
2019-03-06  1.980211  1.893132  0.775205 -0.599212

In [16]:
type(df2)

pandas.core.frame.DataFrame

In [18]:
df2.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [19]:
df2.index

DatetimeIndex(['2019-03-01', '2019-03-02', '2019-03-03', '2019-03-04',
               '2019-03-05', '2019-03-06'],
              dtype='datetime64[ns]', freq='D')

In [20]:
in1 = df2.index
in1

DatetimeIndex(['2019-03-01', '2019-03-02', '2019-03-03', '2019-03-04',
               '2019-03-05', '2019-03-06'],
              dtype='datetime64[ns]', freq='D')

In [21]:
in1[0]

Timestamp('2019-03-01 00:00:00', freq='D')

In [22]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [23]:
in2 = df.index
in2

RangeIndex(start=0, stop=6, step=1)

In [26]:
in2[2]#3번째 인덱스 추출
#리스트를 가지고 만든 여러가지 객체들은 리스트처럼 똑같이 다루어도 크게 문제가 발생되지 않는다.

2

In [27]:
ts1 = in1[0]
ts1

Timestamp('2019-03-01 00:00:00', freq='D')

In [28]:
str(ts1)

'2019-03-01 00:00:00'

In [29]:
df['A']

0   -1.064336
1   -0.363756
2   -1.139927
3    1.444355
4    1.009962
5    0.310279
Name: A, dtype: float64

In [34]:
type(df['A'])

pandas.core.series.Series

In [36]:
a = df['A']
a

0   -1.064336
1   -0.363756
2   -1.139927
3    1.444355
4    1.009962
5    0.310279
Name: A, dtype: float64

In [37]:
a[0]

-1.0643357820851267

In [38]:
a[1]

-0.36375572031807263

In [39]:
df2.values

array([[-0.87774146, -0.23580282, -0.7899289 , -0.13546785],
       [-0.36290406,  1.12073006, -2.55789185, -0.67504614],
       [ 0.35200757, -0.44637968,  1.45375989,  0.90949648],
       [-1.31070172, -0.45872702, -0.45951048,  0.10301828],
       [ 0.76612638,  0.54123488, -0.30603233, -0.96130538],
       [ 1.9802109 ,  1.89313152,  0.7752046 , -0.59921209]])

In [41]:
df2.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.091166  0.402364 -0.314067 -0.226419
std    1.200191  0.961959  1.385217  0.676373
min   -1.310702 -0.458727 -2.557892 -0.961305
25%   -0.749032 -0.393735 -0.707324 -0.656088
50%   -0.005448  0.152716 -0.382771 -0.367340
75%    0.662597  0.975856  0.504895  0.043397
max    1.980211  1.893132  1.453760  0.909496

In [42]:
df2.sort_index()#디폴트 오름차순

                   A         B         C         D
2019-03-01 -0.877741 -0.235803 -0.789929 -0.135468
2019-03-02 -0.362904  1.120730 -2.557892 -0.675046
2019-03-03  0.352008 -0.446380  1.453760  0.909496
2019-03-04 -1.310702 -0.458727 -0.459510  0.103018
2019-03-05  0.766126  0.541235 -0.306032 -0.961305
2019-03-06  1.980211  1.893132  0.775205 -0.599212

In [44]:
df2.sort_index(ascending=False)#내림차순

                   A         B         C         D
2019-03-06  1.980211  1.893132  0.775205 -0.599212
2019-03-05  0.766126  0.541235 -0.306032 -0.961305
2019-03-04 -1.310702 -0.458727 -0.459510  0.103018
2019-03-03  0.352008 -0.446380  1.453760  0.909496
2019-03-02 -0.362904  1.120730 -2.557892 -0.675046
2019-03-01 -0.877741 -0.235803 -0.789929 -0.135468

In [45]:
df2.sort_values(by='A')#A를 가지고 오름차순으로 정렬

                   A         B         C         D
2019-03-04 -1.310702 -0.458727 -0.459510  0.103018
2019-03-01 -0.877741 -0.235803 -0.789929 -0.135468
2019-03-02 -0.362904  1.120730 -2.557892 -0.675046
2019-03-03  0.352008 -0.446380  1.453760  0.909496
2019-03-05  0.766126  0.541235 -0.306032 -0.961305
2019-03-06  1.980211  1.893132  0.775205 -0.599212

In [46]:
#df를 카피해서 파괴함수를 만들어보자.
df3 = df2.copy()
df3

                   A         B         C         D
2019-03-01 -0.877741 -0.235803 -0.789929 -0.135468
2019-03-02 -0.362904  1.120730 -2.557892 -0.675046
2019-03-03  0.352008 -0.446380  1.453760  0.909496
2019-03-04 -1.310702 -0.458727 -0.459510  0.103018
2019-03-05  0.766126  0.541235 -0.306032 -0.961305
2019-03-06  1.980211  1.893132  0.775205 -0.599212

In [47]:
#1.df3를 B로 정렬해주세요
#2.df3의 내용이 변경되어야합니다.
#3.변경된 df3에서 b, c만추출해 df4로 변경
#4.첫번째 행, 첫번째 열의 값을 1로 수정

#5. df3에서 0행에서 2행까지 추출
#6. df3에서 2019-03-01, A열의 값을 추출
#7. df3에서 2019-03-01, A열, B열의 값을 추출
#8. df3에서 A열의 전체 행을 추출
#9. df3에서 A, C열의 전체 행을 추출
#10. df3에서 0번 행렬 추출
#11. df3의 행렬의 크기를 추출
#12. df3에서 5행 전체 전체 열 추출
#13. df3에서 4행부터 추출
#14. df3에서 0, 3행, 1부터 2열까지 추출
#15. df3에서 1,2,5행, 1,3열 추출

In [50]:
#1.df3를 B로 정렬해주세요
 #df3.sort_values(by='B')#df3는 비파괴

#2.df3의 내용이 변경되어야합니다.
df3 = df3.sort_values(by='B')# 다시 df3에 집어넣으면 파괴함수가 된다.
df3

                   A         B         C         D
2019-03-04 -1.310702 -0.458727 -0.459510  0.103018
2019-03-03  0.352008 -0.446380  1.453760  0.909496
2019-03-01 -0.877741 -0.235803 -0.789929 -0.135468
2019-03-05  0.766126  0.541235 -0.306032 -0.961305
2019-03-02 -0.362904  1.120730 -2.557892 -0.675046
2019-03-06  1.980211  1.893132  0.775205 -0.599212

In [80]:
#3.변경된 df3에서 b, c만추출해 df4로 변경
df4 = df3[['B','C']]#밖 대괄호: 뭘 가져올거니 안 대괄호: 안애내용을 묶어주는 역할
# df4 = df3.iloc[:,1:3]
df4

                   B         C
2019-03-04 -0.458727 -0.459510
2019-03-03 -0.446380  1.453760
2019-03-01 -0.235803 -0.789929
2019-03-05  0.541235 -0.306032
2019-03-02  1.120730 -2.557892
2019-03-06  1.893132  0.775205

In [82]:
#4.첫번째 행, 첫번째 열의 값을 1로 수정
#df3["A"][0] =1
df3.iloc[0,0]= 1
df3.iloc[0,0]

1.0

In [84]:
#5. df3에서 0행에서 2행까지 추출
# df3.iloc[0:3,:]
df3.iloc[0:3]#[0:3]행과열을 쓸 수 있는데 하나만 쓰면 행 뜻 함.행으로 취급!

                   A         B         C         D
2019-03-04  1.000000 -0.458727 -0.459510  0.103018
2019-03-03  0.352008 -0.446380  1.453760  0.909496
2019-03-01 -0.877741 -0.235803 -0.789929 -0.135468

In [85]:
#6. df3에서 2019-03-01, A열의 값을 추출
#df3.iloc[2,0]#2번째 행에 0번째 열의 값 추출
df3.loc['2019-03-01','A']

2019-03-01   -0.877741
Name: A, dtype: float64

In [86]:
#7. df3에서 2019-03-01, A열, B열의 값을 추출
#df3.iloc[2,0:2]
df3.loc['2019-03-01',['A','B']]

                   A         B
2019-03-01 -0.877741 -0.235803

In [69]:
#8. df3에서 A열의 전체 행을 추출
df3.iloc[:,0]

2019-03-04    1.000000
2019-03-03    0.352008
2019-03-01   -0.877741
2019-03-05    0.766126
2019-03-02   -0.362904
2019-03-06    1.980211
Name: A, dtype: float64

In [89]:
#9. df3에서 A, C열의 전체 행을 추출
df3.loc[:,['A','C']]

                   A         C
2019-03-04  1.000000 -0.459510
2019-03-03  0.352008  1.453760
2019-03-01 -0.877741 -0.789929
2019-03-05  0.766126 -0.306032
2019-03-02 -0.362904 -2.557892
2019-03-06  1.980211  0.775205

In [96]:
type(df3.loc[:,['A','C']])#2차원의 데이터프레임이 타입이 된다.
#loc,iloc의 결과가 1행인 경우, series로 리턴(리스트처럼 다루면 된다.)
#loc,iloc의 결과가 여러행인 경우(2행 이상), DataFrame으로 리턴.

pandas.core.frame.DataFrame

In [99]:
#A행을 추출하여 2번째 값을 추출
df3.loc[:,'A']

2019-03-04    1.000000
2019-03-03    0.352008
2019-03-01   -0.877741
2019-03-05    0.766126
2019-03-02   -0.362904
2019-03-06    1.980211
Name: A, dtype: float64

In [100]:
type(df3.loc[:,'A'])#타입이 시리즈! 년월일은 인덱스임.

pandas.core.series.Series

In [101]:
df3.loc[:,'A'][1]#2번째 인덱스 추출

0.35200756755961726

In [103]:
list(df3.loc[:,'A'])#list함수를 써서 리스트로 만들 수 있다.
#df3.loc[:,'A'].to_list()#위랑 같은 방법.

[1.0,
 0.35200756755961726,
 -0.8777414571993006,
 0.7661263809834137,
 -0.3629040641722462,
 1.9802108952522075]

In [98]:
#A행과 C행을 추출하여 1번째 행,1번째 열의 값을 추출
df3.loc[:,['A','C']]

                   A         C
2019-03-04  1.000000 -0.459510
2019-03-03  0.352008  1.453760
2019-03-01 -0.877741 -0.789929
2019-03-05  0.766126 -0.306032
2019-03-02 -0.362904 -2.557892
2019-03-06  1.980211  0.775205

In [106]:
#10. df3에서 0번 행렬 추출
df3.iloc[0]

A    1.000000
B   -0.458727
C   -0.459510
D    0.103018
Name: 2019-03-04 00:00:00, dtype: float64

In [107]:
#11. df3의 행렬의 크기를 추출
df3.shape#shape함수 사용하면 된다.
#(4, 6)으로 되어있으면 (6,4)로 바꿔줘야한다.
#T 또는 reshape이라는 함수를 쓰면된다.

(6, 4)

In [109]:
#12. df3에서 5행 전체 열 추출
df.iloc[4,:]
#df.loc[5]같음.

A    1.009962
B   -0.270454
C   -0.129129
D    0.293416
Name: 4, dtype: float64

In [110]:
#13. df3에서 4행부터 추출
df3.iloc[4:]

                   A         B         C         D
2019-03-02 -0.362904  1.120730 -2.557892 -0.675046
2019-03-06  1.980211  1.893132  0.775205 -0.599212

In [112]:
#14. df3에서 0, 3행, 1부터 2열까지 추출
df3.iloc[[0,3],[1,2]]#대괄호안에 대괄호를 써서 조건을 나타내줄 수 있따.

                   B         C
2019-03-04 -0.458727 -0.459510
2019-03-05  0.541235 -0.306032

In [113]:
#15. df3에서 1,2,5행, 1,3열 추출
df3.iloc[[1,2,5],[1,3]]

                   B         D
2019-03-03 -0.446380  0.909496
2019-03-01 -0.235803 -0.135468
2019-03-06  1.893132 -0.599212