In [1]:
import pandas as pd
import numpy as np

In [20]:
cctv_seoul = pd.read_csv('cctv_data_collect/cctv_seoul.csv',encoding='utf8')
cctv_seoul.head()

   기관명    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204
3  강서구   884        388    258    184     81
4  관악구  1496        846    260    390    613

In [8]:
cctv_seoul.columns

Index(['구별', '소계', '2013년도 이전', '2014년', '2015년', '2016년'], dtype='object')

In [9]:
cctv_seoul.rename(columns={cctv_seoul.columns[0]:'구별'},inplace=True)

In [11]:
pop_seoul = pd.read_excel('cctv_data_collect/pop_seoul.xls')
pop_seoul.head()

,기간,자치구,세대,인구,인구.1,인구.2,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,세대당인구,65세이상고령자
0,기간,자치구,세대,합계,합계,합계,한국인,한국인,한국인,등록외국인,등록외국인,등록외국인,세대당인구,65세이상고령자
1,기간,자치구,세대,계,남자,여자,계,남자,여자,계,남자,여자,세대당인구,65세이상고령자
2,2017.1/4,합계,4202888,10197604,5000005,5197599,9926968,4871560,5055408,270636,128445,142191,2.36,1321458
3,2017.1/4,종로구,72654,162820,79675,83145,153589,75611,77978,9231,4064,5167,2.11,25425
4,2017.1/4,중구,59481,133240,65790,67450,124312,61656,62656,8928,4134,4794,2.09,20764

In [14]:
#행과 열을 한정해서 일부만 가져와보자.
pop_seoul = pd.read_excel('cctv_data_collect/pop_seoul.xls',
                         header = 2,
                         usecols='B,D,G,J,N'
                         )
pop_seoul.head()#header = 2 번 인덱스 행부터 가져옴.

   자치구           계        계.1       계.2   65세이상고령자
0   합계  10197604.0  9926968.0  270636.0  1321458.0
1  종로구    162820.0   153589.0    9231.0    25425.0
2   중구    133240.0   124312.0    8928.0    20764.0
3  용산구    244203.0   229456.0   14747.0    36231.0
4  성동구    311244.0   303380.0    7864.0    39997.0

In [15]:
cctv_seoul.head()

    구별    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204
3  강서구   884        388    258    184     81
4  관악구  1496        846    260    390    613

In [16]:
#cctv가 제일 많이 설치된 구와 제일 적게 설치되어 있는 구 정렬
cctv_seoul.sort_values(by='소계').head()#ascending(오름차순)이 디폴트

     구별   소계  2013년도 이전  2014년  2015년  2016년
9   도봉구  485        238    159     42    386
12  마포구  574        314    118    169    379
17  송파구  618        529     21     68    463
24  중랑구  660        509    121    177    109
23   중구  671        413    190     72    348

In [17]:
cctv_seoul.sort_values(by='소계').tail()#ascending(오름차순)이 디폴트

     구별    소계  2013년도 이전  2014년  2015년  2016년
20  용산구  1624       1368    218    112    398
21  은평구  1873       1138    224    278    468
14  서초구  1930       1406    157    336    398
18  양천구  2034       1843    142     30    467
0   강남구  2780       1292    430    584    932

In [18]:
#내림차순으로 바꿔보자.
cctv_seoul.sort_values(by='소계',ascending=False).head()#decending(내림차순)이 디폴트

     구별    소계  2013년도 이전  2014년  2015년  2016년
0   강남구  2780       1292    430    584    932
18  양천구  2034       1843    142     30    467
14  서초구  1930       1406    157    336    398
21  은평구  1873       1138    224    278    468
20  용산구  1624       1368    218    112    398

In [19]:
cctv_seoul.sort_values(by='소계',ascending=False).tail()#decending(내림차순)이 디폴트

     구별   소계  2013년도 이전  2014년  2015년  2016년
23   중구  671        413    190     72    348
24  중랑구  660        509    121    177    109
17  송파구  618        529     21     68    463
12  마포구  574        314    118    169    379
9   도봉구  485        238    159     42    386

In [26]:
#인구수의 컬럼을 '구별','인구수','한국인','외국인','고령자'로 컬럼을 바꿔보자.
pop_seoul.columns = ['구별','인구수','한국인','외국인','고령자']
pop_seoul.head()

    구별         인구수        한국인       외국인        고령자
0   합계  10197604.0  9926968.0  270636.0  1321458.0
1  종로구    162820.0   153589.0    9231.0    25425.0
2   중구    133240.0   124312.0    8928.0    20764.0
3  용산구    244203.0   229456.0   14747.0    36231.0
4  성동구    311244.0   303380.0    7864.0    39997.0

In [27]:
# pop_seoul.rename(columns={pop_seoul.columns[0]:'구별',
#                           pop_seoul.columns[1]:'인구수',
#                           pop_seoul.columns[2]:'한국인',
#                           pop_seoul.columns[3]:'외국인',
#                           pop_seoul.columns[4]:'고령자'},inplace=True)
#일부 컬럼명만 바꿀때 쓰는방법

In [31]:
#합계라고 되어있는 행을 삭제
pop_seoul.drop([0],inplace=True)#index
pop_seoul.head()

    구별       인구수       한국인      외국인      고령자
1  종로구  162820.0  153589.0   9231.0  25425.0
2   중구  133240.0  124312.0   8928.0  20764.0
3  용산구  244203.0  229456.0  14747.0  36231.0
4  성동구  311244.0  303380.0   7864.0  39997.0
5  광진구  372164.0  357211.0  14953.0  42214.0

In [32]:
pop_seoul.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26 entries, 1 to 26
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   구별      25 non-null     object
 1   인구수     25 non-null     float64
 2   한국인     25 non-null     float64
 3   외국인     25 non-null     float64
 4   고령자     25 non-null     float64
dtypes: float64(4), object(1)
memory usage: 1.2+ KB

In [33]:
pop_seoul['구별']

1      종로구
2       중구
3      용산구
4      성동구
5      광진구
6     동대문구
7      중랑구
8      성북구
9      강북구
10     도봉구
11     노원구
12     은평구
13    서대문구
14     마포구
15     양천구
16     강서구
17     구로구
18     금천구
19    영등포구
20     동작구
21     관악구
22     서초구
23     강남구
24     송파구
25     강동구
26     NaN
Name: 구별, dtype: object

In [36]:
len(pop_seoul['구별'].unique())#구별 열에 유니크한 값 개수

26

In [38]:
pop_seoul.tail(2)

     구별       인구수       한국인     외국인      고령자
25  강동구  453233.0  449019.0  4214.0  54622.0
26  NaN       NaN       NaN     NaN      NaN

In [39]:
pop_seoul.iloc[25]#nan값들이 들어있어서 필요가 없다.

구별     NaN
인구수    NaN
한국인    NaN
외국인    NaN
고령자    NaN
Name: 26, dtype: object

In [40]:
pop_seoul.isnull().sum()
#pop_seoul['구별'].isnull().sum()

구별     1
인구수    1
한국인    1
외국인    1
고령자    1
dtype: int64

In [41]:
pop_seoul.drop([26],inplace = True)

In [42]:
pop_seoul.isnull().sum()#이제 null값이 없다! 다 지워버림.

구별     0
인구수    0
한국인    0
외국인    0
고령자    0
dtype: int64

In [ ]:
#외국인비율, 고령자비율 파생변수 2개를 만들어봐요~
pop_seoul