In [5]:
import pandas as pd
import numpy as np#NumPy의 핵심은 ndarray라고 하는 클래스 이다. ndarray 클래스는 다차원 행렬 자료 구조를 지원한다.

In [6]:
dates = pd.date_range('20200625', periods=6)
dates

DatetimeIndex(['2020-06-25', '2020-06-26', '2020-06-27', '2020-06-28',
               '2020-06-29', '2020-06-30'],
              dtype='datetime64[ns]', freq='D')

In [9]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=['A','B','C','D'])
df
df = pd.DataFrame(np.random)

                   A         B         C         D
2020-06-25 -1.183726  1.297132  1.189436  0.354566
2020-06-26  0.167611  0.272435  0.454584 -0.081371
2020-06-27  0.042672  0.132090 -2.607154  1.609916
2020-06-28  1.221149  0.704600  0.470121  0.972395
2020-06-29 -0.411541 -1.082959  0.329009  0.203834
2020-06-30  1.168454  1.674315  0.027145  0.065690

In [10]:
type(df)#df의 타입은 DataFrame

pandas.core.frame.DataFrame

In [11]:
df.count()#각 열에 대한 행의개수

A    6
B    6
C    6
D    6
dtype: int64

In [12]:
df.shape#행렬개수

(6, 4)

In [14]:
df.values

array([[-1.18372585,  1.29713216,  1.18943567,  0.35456624],
       [ 0.16761145,  0.27243501,  0.45458358, -0.08137062],
       [ 0.04267241,  0.13209032, -2.6071539 ,  1.60991567],
       [ 1.22114948,  0.70460011,  0.47012088,  0.97239518],
       [-0.41154075, -1.08295894,  0.32900895,  0.20383445],
       [ 1.16845424,  1.67431509,  0.02714544,  0.06569049]])

In [15]:
df['A']

2020-06-25   -1.183726
2020-06-26    0.167611
2020-06-27    0.042672
2020-06-28    1.221149
2020-06-29   -0.411541
2020-06-30    1.168454
Freq: D, Name: A, dtype: float64

In [16]:
df[0:3]

                   A         B         C         D
2020-06-25 -1.183726  1.297132  1.189436  0.354566
2020-06-26  0.167611  0.272435  0.454584 -0.081371
2020-06-27  0.042672  0.132090 -2.607154  1.609916

In [17]:
df.loc['2020-06-25']

A   -1.183726
B    1.297132
C    1.189436
D    0.354566
Name: 2020-06-25 00:00:00, dtype: float64