In [1]:
import pandas as pd

In [3]:
import numpy as np

In [17]:
dates = pd.date_range('20200625',periods=6)
dates

DatetimeIndex(['2020-06-25', '2020-06-26', '2020-06-27', '2020-06-28',
               '2020-06-29', '2020-06-30'],
              dtype='datetime64[ns]', freq='D')

In [18]:
np.random.randn(6,4)

array([[-0.43796741, -0.38504883, -0.55162253, -0.05912526],
       [-0.37137142, -2.22651478,  0.96829094, -0.52673927],
       [-0.75715108, -0.0883989 , -0.14645129,  1.53750473],
       [-0.96293251, -0.07286524, -2.13379544,  0.53628249],
       [-0.35226882,  1.45468391, -0.37781368,  0.36709466],
       [ 1.05853553, -1.34075675,  1.38822891, -0.51418321]])

In [19]:
df = pd.DataFrame(data=np.random.randn(6,4),index= dates,columns=['A','B','C','D'])#dates기준으로 인덱스 정렬
df

                   A         B         C         D
2020-06-25 -0.506261  0.706759 -0.287065  0.303444
2020-06-26  0.167685  0.760474  1.833029  0.347952
2020-06-27 -1.794183 -0.886431  1.141095  0.190425
2020-06-28 -0.474138 -0.852279  2.148255  2.306925
2020-06-29  0.561093  0.121112  0.117893  2.521105
2020-06-30 -0.167952  0.594512  2.093429 -1.058709

In [21]:
df2 = df.copy()
df2
#df는 기본적으로 행,열의 위치값을 가지고 있다.
#기본적으로 가지고 있는 위치값(index)를 이용해서 조작하는 경우
#iloc[]를 사용
#일부 그래프나 분석시 특정항목을 index항목으로 수동으로 설정해야하는
#경우가 있음.
#특정항목을 index항목으로 설정 가능한 경우에는 "unique한 값and not null을 가지는 항목만" 설정 가능.
#user_id,bbs_id, pk(프라이머리키)조건과 일치!

                   A         B         C         D
2020-06-25 -0.506261  0.706759 -0.287065  0.303444
2020-06-26  0.167685  0.760474  1.833029  0.347952
2020-06-27 -1.794183 -0.886431  1.141095  0.190425
2020-06-28 -0.474138 -0.852279  2.148255  2.306925
2020-06-29  0.561093  0.121112  0.117893  2.521105
2020-06-30 -0.167952  0.594512  2.093429 -1.058709

In [30]:
df2.reset_index(inplace=True)
#index없애버리기. index라고 이름이 붙어있긴하지만 index를 뜻하는건아니고 원래 인덱스였다는 의미.
#inplace=True #비파괴를 파괴로 바꿔줌.

In [31]:
df2.set_index('index',inplace=True)
#'index'를 인덱스로 지정하고 원본도 바꾸기.(True)

In [32]:
df2

                   A         B         C         D
index
2020-06-25 -0.506261  0.706759 -0.287065  0.303444
2020-06-26  0.167685  0.760474  1.833029  0.347952
2020-06-27 -1.794183 -0.886431  1.141095  0.190425
2020-06-28 -0.474138 -0.852279  2.148255  2.306925
2020-06-29  0.561093  0.121112  0.117893  2.521105
2020-06-30 -0.167952  0.594512  2.093429 -1.058709

In [33]:
df2['E']=  df2['A'] + 1#브로드캐스팅! 전체영역에 E열값 전부 생성됨.

In [36]:
df2.columns

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [37]:
df2['E']

index
2020-06-25    0.493739
2020-06-26    1.167685
2020-06-27   -0.794183
2020-06-28    0.525862
2020-06-29    1.561093
2020-06-30    0.832048
Name: E, dtype: float64

In [38]:
df2['F'] = 0

In [39]:
df2['F']

index
2020-06-25    0
2020-06-26    0
2020-06-27    0
2020-06-28    0
2020-06-29    0
2020-06-30    0
Name: F, dtype: int64

In [41]:
df2['G'] = range(0, 6)
df2['G']

index
2020-06-25    0
2020-06-26    1
2020-06-27    2
2020-06-28    3
2020-06-29    4
2020-06-30    5
Name: G, dtype: int64

In [42]:
#기존의 인덱스를 살리고싶은경우 reset_index()해줘야한다.
#리셋을 안하는 경우, 인덱스를 다른것으로 바꿨을 때
#기존인덱스는 사라짐.

#인덱스를 G로 바꾸기
df2.set_index('G', inplace=True)

In [43]:
df2

          A         B         C         D         E  F
G
0 -0.506261  0.706759 -0.287065  0.303444  0.493739  0
1  0.167685  0.760474  1.833029  0.347952  1.167685  0
2 -1.794183 -0.886431  1.141095  0.190425 -0.794183  0
3 -0.474138 -0.852279  2.148255  2.306925  0.525862  0
4  0.561093  0.121112  0.117893  2.521105  1.561093  0
5 -0.167952  0.594512  2.093429 -1.058709  0.832048  0

In [44]:
df2.columns#G는 인덱스로 잡혀있어 보이지 않는다.

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

In [67]:
df3 = df.copy()
df3

                   A         B         C         D  H
2020-06-25 -0.506261  0.706759 -0.287065  0.303444  1
2020-06-26  0.167685  0.760474  1.833029  0.347952  1
2020-06-27 -1.794183 -0.886431  1.141095  0.190425  1
2020-06-28 -0.474138 -0.852279  2.148255  2.306925  1
2020-06-29  0.561093  0.121112  0.117893  2.521105  1
2020-06-30 -0.167952  0.594512  2.093429 -1.058709  1

In [68]:
#1.E항목을 파생변수로 만드세요. 1~10범위 값
#2.F항목을 파생변수로 만드세요. A열과 C열의 합
#3.H항목을 파생변수로 만드세요. 1로 설정

In [69]:
import random

In [70]:
#1.E항목을 파생변수로 만드세요. 1~10범위 값
data = range(1,11)
data2 = []
for x in range(6):#6개를 포문을 돌려서
    data2.append(random.choice(data))#랜덤하게 1~10사이값 뽑기
print(data2)
df3['E'] = data2
df3['E']

[9, 6, 7, 9, 8, 9]

2020-06-25    9
2020-06-26    6
2020-06-27    7
2020-06-28    9
2020-06-29    8
2020-06-30    9
Freq: D, Name: E, dtype: int64

In [71]:
#2.F항목을 파생변수로 만드세요. A열과 C열의 합
df3['F'] = df3['A'] + df3['C']#순서!1.F라는 공간을 만들고, 2.왼쪽 연산하고 3. 대입!(=)하라.
df3

                   A         B         C         D  H  E         F
2020-06-25 -0.506261  0.706759 -0.287065  0.303444  1  9 -0.793326
2020-06-26  0.167685  0.760474  1.833029  0.347952  1  6  2.000715
2020-06-27 -1.794183 -0.886431  1.141095  0.190425  1  7 -0.653088
2020-06-28 -0.474138 -0.852279  2.148255  2.306925  1  9  1.674117
2020-06-29  0.561093  0.121112  0.117893  2.521105  1  8  0.678986
2020-06-30 -0.167952  0.594512  2.093429 -1.058709  1  9  1.925477

In [72]:
#3.H항목을 파생변수로 만드세요. 1로 설정

In [73]:
df3['H'] = 1

In [74]:
df3

                   A         B         C         D  H  E         F
2020-06-25 -0.506261  0.706759 -0.287065  0.303444  1  9 -0.793326
2020-06-26  0.167685  0.760474  1.833029  0.347952  1  6  2.000715
2020-06-27 -1.794183 -0.886431  1.141095  0.190425  1  7 -0.653088
2020-06-28 -0.474138 -0.852279  2.148255  2.306925  1  9  1.674117
2020-06-29  0.561093  0.121112  0.117893  2.521105  1  8  0.678986
2020-06-30 -0.167952  0.594512  2.093429 -1.058709  1  9  1.925477

In [75]:
data2=[]
for _ in range(6):
    data2.append(random.randint(1,10))
data2

[4, 2, 3, 3, 6, 4]

In [76]:
df3['Z'] = data2
df3['Z']

2020-06-25    4
2020-06-26    2
2020-06-27    3
2020-06-28    3
2020-06-29    6
2020-06-30    4
Freq: D, Name: Z, dtype: int64

In [79]:
#랜덤하게 6개의 값을 발생시키는 코드 방법 2가지
# data2=[]
# for _ in range(6):
#     data2.append(random.randint(1,10))
# data2

#List Comprehension(리스트 내포):결과가 항상 리스트
[random.randint(1,10) for _ in range(6)]#대괄호 안에 있는 내용은 리스트로 출력된다. 포문할때처럼 data2=[]이런코드가 필요없음.

[6, 10, 3, 5, 3, 1]

In [80]:
df3['Z2'] = [random.randint(1,10) for _ in range(6)]
df3['Z2']

2020-06-25    8
2020-06-26    5
2020-06-27    5
2020-06-28    8
2020-06-29    6
2020-06-30    8
Freq: D, Name: Z2, dtype: int64

In [81]:
range(10)

range(0, 10)

In [82]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [83]:
#['반복하면서 한번에 처리할 내용' for i in range(10)]
[i + 1 for i in range(10)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [86]:
#조건주기.
#['반복하면서 한번에 처리할 내용' for i in range(10) if i/2 == 0]
[i + 1 for i in range(10) if i%2 == 0]

#포문으로 위 코드를 바꾸면 아래와 같다.
# data3=[]
# for i in range(10):
#     if i%2 ==0:#%는 나머지를 구하는 연산자. 나머지가 없는 수
#         data3.append(i)
# data3

[1, 3, 5, 7, 9]

In [87]:
#문제를 풀어보자~~~~~~~

In [88]:
name = ['홍길동','김길동','송길동']
for x in name:
    print(x)

홍길동
김길동
송길동

In [104]:
#name에 들어있는 각각의 모든 데이터 뒤에 "님"글자를 붙여주세요!
[x + '님' for x in name]

['홍길동님', '김길동님', '송길동님']

In [112]:
#name에 들어있는 각각의 모든 데이터에 앞에 "신입"글자를 붙여주세요!
['신입' + x  for x in name]

['신입홍길동', '신입김길동', '신입송길동']

In [113]:
a_list = range(1,100,2)

In [116]:
#a_list에 몇 개가 들어있는지 세어보세요
count = 0
result = [count + 1 for x in a_list]
sum(result)
#len(list(a_list))

50

In [117]:
#a_list의 각각의 모든 데이터에 0.1을 곱해보세요~변경된 a_list의 합과 평균
a_list = [x*0.1 for x in a_list]

In [118]:
a_list

[0.1,
 0.30000000000000004,
 0.5,
 0.7000000000000001,
 0.9,
 1.1,
 1.3,
 1.5,
 1.7000000000000002,
 1.9000000000000001,
 2.1,
 2.3000000000000003,
 2.5,
 2.7,
 2.9000000000000004,
 3.1,
 3.3000000000000003,
 3.5,
 3.7,
 3.9000000000000004,
 4.1000000000000005,
 4.3,
 4.5,
 4.7,
 4.9,
 5.1000000000000005,
 5.300000000000001,
 5.5,
 5.7,
 5.9,
 6.1000000000000005,
 6.300000000000001,
 6.5,
 6.7,
 6.9,
 7.1000000000000005,
 7.300000000000001,
 7.5,
 7.7,
 7.9,
 8.1,
 8.3,
 8.5,
 8.700000000000001,
 8.9,
 9.1,
 9.3,
 9.5,
 9.700000000000001,
 9.9]

In [120]:
np.sum(a_list)

250.0

In [121]:
np.mean(a_list)

5.0

In [122]:
np.std(a_list)#표준편차 구하기!

2.8861739379323628