In [13]:
#주요 라이브러리 임포트
import warnings
warnings.filterwarnings(action='ignore')
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait 
from selenium.webdriver.support import expected_conditions as EC
#step1.selenium 패키지와 time 모듈 import
from selenium import webdriver as wb
from selenium.webdriver.common.keys import Keys
import time
import pandas as pd
from bs4 import BeautifulSoup

In [5]:
#인스타 크롤링을 해보자!
#1. 크롬 브라우저 실행
driver = wb.Chrome('../chromedriver/chromedriver.exe')

In [6]:
#2. 특정한 페이지 접속
url='https://www.coffeebeankorea.com/store/store.asp'
driver.get(url)#http로 요청을 보내라<---http응답을 보낼 것임.
time.sleep(2)

In [7]:
#자바스크립트읽어올 수 있는 함수 execute_script
driver.execute_script('storePop2(31)')
time.sleep(2)

In [8]:
html = driver.page_source
#html은 str

In [14]:
#뷰피풀 숲 이용해서
doc = BeautifulSoup(html,'html.parser')
#parser: 분석기
#doc는 parser로 분석할 수 있는 dom-tree로 구성

In [15]:
# 제목, 주소, 번호 추출해서 df로 만들어보자.

In [43]:
branch = '#matizCoverLayer0Content > div > div > div.store_txt > h2'
branch_name = driver.find_element_by_css_selector(branch)
branch_text = branch_name.text
branch_text

'삼성봉은사거리점'

In [44]:
title = '#matizCoverLayer0Content > div > div > div.store_txt > table > tbody:nth-child(1) > tr:nth-child(3) > td'
title_name = driver.find_element_by_css_selector(title)
title_text = title_name.text
title_text

'서울시 강남구 영동대로 607 1,2층'

In [45]:
phone = '#matizCoverLayer0Content > div > div > div.store_txt > table > tbody:nth-child(1) > tr:nth-child(4) > td'
phone_name = driver.find_element_by_css_selector(phone)
phone_text = phone_name.text
phone_text

'02-3443-5618'

In [46]:
coffe_bean1 = pd.DataFrame({'branch':[branch_text],'addr':[title_text],'call':[phone_text]})
coffe_bean1

     branch                   addr          call
0  삼성봉은사거리점  서울시 강남구 영동대로 607 1,2층  02-3443-5618

# 선생님 방법!! 꼭 보기~

In [47]:
###########################
#선생님방법
###########################

In [48]:
title1 = doc.select('div.store_txt > h2')
title1

In [50]:
title1[0]#리스트에서 빼주자.

In [60]:
title2=title1[0].string#h2에서 빼주자

In [54]:
info = doc.select('div.store_txt > table.store_table > tbody >tr >td')
info

[<td>평일 07:00-22:00 | 주말/공휴일 09:00-22:00</td>,
 <td>건물뒷편주차장(기계주차식) 평일 최초 30분 2,000원 / 1시간 5,000원 (구매영수증 지참시 30분 2,000원 / 1시간 3,500원 1시간 초과시 10분당 1,000원 ( 평일,주말 동일 )</td>,
 <td>서울시 강남구 영동대로 607 1,2층  <!--span class="lot">(서울시 강남구 영동대로 607 1,2층)</span--></td>,
 <td>02-3443-5618</td>]

In [55]:
addr = info[2]
addr

In [61]:
addr2 = addr.getText()
print(addr.getText())#getText함수를 사용해서 text만 추출

서울시 강남구 영동대로 607 1,2층

In [56]:
tel = info[3]
tel

In [62]:
tel2 = tel.string
print(tel.string)

02-3443-5618

In [59]:
title_list=[]
tel_list=[]
addr_list=[]

In [63]:
title_list.append(title2)#리스트에 값 넣기!

In [64]:
addr_list.append(addr2)#리스트에 값 넣기!

In [65]:
tel_list.append(tel2)#리스트에 값 넣기!

In [66]:
print(title_list,addr_list,tel_list)

['삼성봉은사거리점'] ['서울시 강남구 영동대로 607 1,2층  '] ['02-3443-5618']

In [67]:
pd.DataFrame({
    'title':title_list, 'addr':addr_list, ' tel':tel_list
})

      title                     addr           tel
0  삼성봉은사거리점  서울시 강남구 영동대로 607 1,2층    02-3443-5618

# 모듈화를 해보자!

In [ ]:
#1. 크롬 브라우저 실행
def connect():
    driver = wb.Chrome('../chromedriver/chromedriver.exe')
    return driver

In [ ]:
driver2 = None#전역변수
url='https://www.coffeebeankorea.com/store/store.asp'

In [ ]:
# #2. 특정 페이지를 가져와서 스크립트를 실행하자.
# def coffee_bean(no):#no는 번호 입력해줌, 입력값으로는 driver를 넣었다.하지만 driver가 전역변수일 때는 안써줌.
#     driver2.get(url)
#     time.sleep(2)
#     func = "storePop2('" + str(no) + "')"
#     shop=[]#title, addr, tel의 리스트를 리턴받는다.['삼성봉은사거리점'] ['서울시 강남구 영동대로 607 1,2층  '] ['02-3443-5618'] 이렇게
    
#     try:#폐점한 곳이나 번호가 없으면 오류나 가서 실행이 멈추기 때문에 트리아익셉션 문으로 감싸준다.
#         #스크립트를 실행해라
#         driver2.execute_script(func)
#         time.sleep(2)
#         #실행한 결과 html가져오자
#         html2 = driver2.page_source
#         #bsparser 설정
#         doc2 = BeautifulSoup(html2,'html.parser')
        
#         #타이틀 검색
#         title3 = doc2.select('div.store_txt > h2')
#         title3
#         print('title3>> ', title3)
#         title4=title3[0].string#h2에서 빼주자
#         print('title4>> ', title4)
#         shop.append(title4)
#         #주소 검색
#         #전화번호 검색
#     except:
#         print('해당번호 없음')
        
#     return shop#title, addr, tel의 리스트를 리턴받는다.['삼성봉은사거리점'] ['서울시 강남구 영동대로 607 1,2층  '] ['02-3443-5618'] 이렇게
## 2. 특정 페이지를 가지고 와서, 스크립트를 실행하자
## 2. 특정 페이지를 가지고 와서, 스크립트를 실행하자
def coffee_bean(no):
    #driver2 = None # => 변수 새로 할당하는 경우!!
    driver2.get(url)
    time.sleep(1)
    func = "storePop2('" + str(no) + "')"
    shop = []
    try:
        # 스크립트 실행
        driver2.execute_script(func)
        time.sleep(1)
        
        # 실행한 결과 html 가지고 오세요.
        html2 = driver2.page_source
        
        # bsparser설정
        doc2 = BeautifulSoup(html2, 'html.parser')
        
        # 타이틀 검색
        title3 = doc2.select('div.store_txt > h2')
        print('title3>> ', title3)
        title4 = title3[0].string
        print('title4>> ', title4)
        shop.append(title4)
        
        # 주소 검색
        info2 = doc.select('div.store_txt > table.store_table > tbody > tr > td')
        addr2 = info2[2]
        addr2= addr2.getText()
        shop.append(addr2)
        
        # 전화번호 검색
        tel2 = info[3]
        tel3 = tel2.string
        shop.append(tel3)
    except:
        print('해당번호없음')

    return shop #[삼성봉은사거리점,서울시 강남구 영동대로 607 1,2층,02-3443-5618]

In [ ]:

driver2 = connect()#리턴이 shop 리스트이다.
#같은방법
# driver2 = connect()

In [109]:
coffee_bean(31)
#같은방법
# coffee_bean(1, driver2)

title3>>  [<h2>삼성봉은사거리점</h2>]
title4>>  삼성봉은사거리점

['삼성봉은사거리점', '서울시 강남구 영동대로 607 1,2층  ', '02-3443-5618']

In [ ]:
for i in range(1,6):
    print('-----',i,'-------')
    shop3 = coffee_bean(i)
    print(shop3)

In [ ]:
title_list2=[]
tel_list2=[]
addr_list2=[]

In [ ]:
for i in range(150):
    print('-----',i,'-------')
    shop3 = coffee_bean(i)
    if len(shop3) !=0:
        title_list2.append(shop3[0])
        addr_list2.append(shop3[1])
        tel_list2.append(shop3[2])
    
    print(shop3)#['학동역 DT점', '서울시 강남구 영동대로 607 1,2층  ', '02-3443-5618']

In [ ]:
pd.DataFrame({
    'title':title_list, 'addr':addr_list, ' tel':tel_list
})